<a href="#!main"><h4>Accueil</h4></a>
<a href="#!person"><h4>Proprio</h4></a>

<h2>Résidence</h2>

<h3>Adresse : {{currHome.adresse}}</h3>
<h3>Taille : {{currHome.taille}}</h3>
<h3>Nb pièces : {{currHome.nb_pieces}}</h3>
<div class="">
  <div class="row ">
    <div class="col-lg-12 jumbotron">
      <h3>Chauffages</h3>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Puissance</th>
          <th scope="col">Prix</th>
          <th scope="col"></th>
        </tr>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="home in currHome.heaters">
          <td>{{home.puissance}}</td>
          <td>{{home.prix}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
