<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


<div class="container">
    <div class="row">
        <div class="col">
          1
          <div class="row">
            Nb personnes : {{persons.length}}
          </div>
          <div class="row">

          </div>
        </div>
        <div class="col">
          2
          <div class="row">
            Nb Home : {{homes.length}}
          </div>
          <div class="row">
                  1.2
          </div>
        </div>
        <div class="col">
          3
          <div class="row">
            3.1
              <div class="col-9">
                  2 of 3 (wider)
              </div>
              <div class="col-4">
                  2 of 3 (4)
              </div>
            </div>
            <div class="row">
                3.2

              <div class="col-9">
                  2 of 3 (wider)
              </div>
              <div class="col-4">
                  2 of 3 (4)
              </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
           4
           <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col"><button type="button" class="btn btn-primary">Ajouter</button></tr>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="person in persons ">
                  <th scope="row">{{person.id}}</th>
                  <td>{{person.name}}</td>
                  <td>{{person.firstname}}</td>
                  <td>{{person.mail }}</td>
                  <td>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            5
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Nb pieces</th>
                    <th scope="col">taille</th>
                    <th scope="col"><button type="button" class="btn btn-primary">Ajouter</button></tr>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="home in homes ">
                            <th scope="row">{{home.id}}</th>
                            <td>{{home.adresse}}</td>
                            <td>{{home.nb_pieces}}</td>
                            <td>{{home.taille}}</td>
                            <td>
                              <button type="button" class="btn btn-info">Info</button>
                              <button type="button" class="btn btn-danger">Supprimer</button>
                            </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
</div>
