<a href="#!main"><h4>Accueil</h4></a>

<h2>{{currPerson.name}} {{currPerson.firstname}}</h2>

<div class="">
  <div class="row ">
    <div class="col-lg-12 jumbotron">
      <h3>Résidences</h3>
      <div class="col ">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adresse</th>
            <th scope="col">Nb pieces</th>
            <th scope="col">taille</th>
            <th scope="col">
              <button type="button" class="btn btn-primary">Ajouter</button>
          </tr>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="home in currPerson.homes ">
            <th scope="row">{{home.id}}</th>
            <td>{{home.adresse}}</td>
            <td>{{home.nb_pieces}}</td>
            <td>{{home.taille}}</td>
            <td>
              <button type="button" ng-click="goToHome(home)" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-danger">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-12 jumbotron">
      <h3>Phones</h3>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Modele</th>
          <th scope="col">Marque</th>
          <th scope="col">Prix</th>
        </tr>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="home in currPerson.electronicDevices">
          <td>{{home.name}}</td>
          <td>{{home.marque}}</td>
          <td>{{home.prix}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
